.header {
  padding: 20px 0;
  background: #1abc9c;
  color: white;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.column {
  float: left;
  width: 33.33%;
}

.auth {
  text-align: right;
  color: white;
}